<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Hey <%= title %></h1>
    <p>Welcome!</p>

    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
